.welcome-container{
    min-height: 100dvh;
    width: 100vw;
    max-height: auto;
    background-color: bisque;
    padding: 0.5rem 2rem;
}
.welcome-container h2{
    text-align: center;
    margin: 2rem 0;
}
.welcome-container p{
    text-align: center;
    margin: 1rem 0 1.5rem 0;
    font-size: 1.5rem;
}
.goOnline-btn{
    margin: 1rem 0 0 0;
    font-size: larger;
}
.welcome-container .msgContainer{
    height: 4rem;
    width: 100%;
    padding-top: 1rem;;
}
.welcome-container .msg{
    color: red;
    margin: 0 !important;
}
@media screen and (max-width: 600px) {
    .welcome-container{
        padding: 0.25rem 1rem;
    }
    .welcome-container .msgContainer{
        height: 7rem;
    }
}
